<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>L &amp; T | User Connections</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CDNs -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container mt-4">
    <h1>Connected user details: <span class="text-primary">Pi 1</span></h1>
    <table class="table table-hover table-stripped table-primary">
      <thead class="table-dark">
        <tr>
          <td>#</td>
          <td>MAC Address</td>
          <td>Signal Strength</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>ab:cd:ef:12:34:56</td>
          <td>-20dB</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>